body {
  margin:0px;
  background-color:rgba(239, 235, 232, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1335px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u222_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1072px;
  height:374px;
  background:inherit;
  background-color:rgba(244, 244, 244, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:1px 1px 1px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:1px 1px 1px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:1px 1px 1px rgba(0, 0, 0, 0.349019607843137);
  font-size:16px;
}
#u222 {
  border-width:0px;
  position:absolute;
  left:123px;
  top:205px;
  width:1072px;
  height:374px;
  font-size:16px;
}
#u222_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u223_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1072px;
  height:374px;
  background:inherit;
  background-color:rgba(244, 244, 244, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:1px 1px 1px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:1px 1px 1px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:1px 1px 1px rgba(0, 0, 0, 0.349019607843137);
  font-size:16px;
}
#u223 {
  border-width:0px;
  position:absolute;
  left:123px;
  top:609px;
  width:1072px;
  height:374px;
  font-size:16px;
}
#u223_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u224_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:1345px;
  height:96px;
}
#u224 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1335px;
  height:86px;
}
#u224_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u225_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u225 {
  border-width:0px;
  position:absolute;
  left:1233px;
  top:27px;
  width:40px;
  height:40px;
}
#u225_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  word-wrap:break-word;
}
#u225_ann {
  border-width:0px;
  position:absolute;
  left:1266px;
  top:23px;
  width:1px;
  height:1px;
}
#u226 {
  border-width:0px;
  position:absolute;
  left:1177px;
  top:78px;
  width:109px;
  height:105px;
}
#u227_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:35px;
}
#u227 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:35px;
}
#u227_img.mouseOver {
}
#u227.mouseOver {
}
#u227_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:105px;
  word-wrap:break-word;
}
#u228_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:35px;
}
#u228 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:35px;
  width:109px;
  height:35px;
}
#u228_img.mouseOver {
}
#u228.mouseOver {
}
#u228_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:105px;
  word-wrap:break-word;
}
#u229_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:35px;
}
#u229 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:70px;
  width:109px;
  height:35px;
}
#u229_img.mouseOver {
}
#u229.mouseOver {
}
#u229_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:105px;
  word-wrap:break-word;
}
#u230_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:27px;
}
#u230 {
  border-width:0px;
  position:absolute;
  left:31px;
  top:34px;
  width:32px;
  height:27px;
}
#u230_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u231_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u231 {
  border-width:0px;
  position:absolute;
  left:76px;
  top:35px;
  width:73px;
  height:24px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u231_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u232_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:150px;
}
#u232 {
  border-width:0px;
  position:absolute;
  left:236px;
  top:274px;
  width:150px;
  height:150px;
}
#u232_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u233_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u233 {
  border-width:0px;
  position:absolute;
  left:271px;
  top:466px;
  width:81px;
  height:24px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u233_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u234_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:538px;
  height:216px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u234 {
  border-width:0px;
  position:absolute;
  left:514px;
  top:274px;
  width:538px;
  height:216px;
}
#u234_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u235_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:131px;
}
#u235 {
  border-width:0px;
  position:absolute;
  left:207px;
  top:699px;
  width:210px;
  height:131px;
}
#u235_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u236_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u236 {
  border-width:0px;
  position:absolute;
  left:272px;
  top:888px;
  width:81px;
  height:24px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u236_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u237_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:538px;
  height:216px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u237 {
  border-width:0px;
  position:absolute;
  left:514px;
  top:699px;
  width:538px;
  height:216px;
}
#u237_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u238 {
  border-width:0px;
  position:absolute;
  left:216px;
  top:0px;
  width:479px;
  height:86px;
}
#u238_menu {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:479px;
  height:86px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u239 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:479px;
  height:86px;
}
#u240_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:86px;
}
#u240 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:86px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u240_img.mouseOver {
}
#u240.mouseOver {
}
#u240_img.mouseDown {
}
#u240.mouseDown {
}
#u240_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:31px;
  width:154px;
  word-wrap:break-word;
}
#u241_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:86px;
}
#u241 {
  border-width:0px;
  position:absolute;
  left:158px;
  top:0px;
  width:161px;
  height:86px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u241_img.mouseOver {
}
#u241.mouseOver {
}
#u241_img.mouseDown {
}
#u241.mouseDown {
}
#u241_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:31px;
  width:157px;
  word-wrap:break-word;
}
#u242_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:86px;
}
#u242 {
  border-width:0px;
  position:absolute;
  left:319px;
  top:0px;
  width:160px;
  height:86px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u242_img.mouseOver {
}
#u242.mouseOver {
}
#u242_img.mouseDown {
}
#u242.mouseDown {
}
#u242_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:31px;
  width:156px;
  word-wrap:break-word;
}
#u243 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:86px;
  width:158px;
  height:100px;
  visibility:hidden;
}
#u243_menu {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:100px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u244 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:100px;
}
#u245_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:50px;
}
#u245 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u245_img.mouseOver {
}
#u245.mouseOver {
}
#u245_img.mouseDown {
}
#u245.mouseDown {
}
#u245_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:154px;
  word-wrap:break-word;
}
#u246_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:50px;
}
#u246 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:50px;
  width:158px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u246_img.mouseOver {
}
#u246.mouseOver {
}
#u246_img.mouseDown {
}
#u246.mouseDown {
}
#u246_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:154px;
  word-wrap:break-word;
}
#u247_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1306px;
  height:2px;
}
#u247 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1108px;
  width:1305px;
  height:1px;
  opacity:0.2;
}
#u247_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
